{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<a href="{% url 'type:type_list' %}">Go back to Type list</a><br/><br/>
<h1><img src="{{p1_image}}"><b> {{p1_name}} vs {{p2_name}} </b> <img src="{{p2_image}}"> </h1>
<h2>{{p1_name}}'s types against {{p2_name}}</h2>
<p>
    {% for type, info in type_context.p1types.items %}
        <img src="/static/{{type}}.png"> {{info}} <img src="{{p2_image}}"> <br>
    {% endfor %}
</p>
<h2>{{p2_name}}'s types against {{p1_name}}</h2>
<p>
    {% for type, info in type_context.p2types.items %}
        <img src="/static/{{type}}.png"> {{info}} <img src="{{p1_image}}"> <br>
    {% endfor %}
</p>
{% endblock content %}