{% extends "base.html" %}
{% load static %}

{% block content %}
<title>Type</title>
<br>
Pokemon 1:
<select id="pokemon1">
    {% for pokemon in current_pokemon %}
        <option value={{pokemon.id}}>{{pokemon.name|title}}</option>
    {% endfor %}
</select>
<br>
Pokemon 2:
<select id="pokemon2">
    {% for pokemon in current_pokemon %}
        <option value={{pokemon.id}}>{{pokemon.name|title}}</option>
    {% endfor %}
</select>
<button class="col btn btn-secondary" id="battlePokemon">Battle Pokemon</button>

<br>
<br>
<table>
    <tr>
    <th>Type</th>
    <th>Image</th>
    </tr>
    {% for type in object_list %}
    <tr>
    <td><a href="{% url 'type:type_detail' type.id %}">{{ type.name|title }}</a></td>
    <td> <img src="/static/{{type.name}}.png"></td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}

