.title {
    text-align: center;
}

.t-header {
    background-color: skyblue;
}

body {
    background-image: url("img/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

td a { 
    display: block; 
    border: 1px solid black;
    padding: 16px; 
 }

.hidden{
    display: none;
}
